{%PROJECT_ID_UPPER%}_ID="{%PROJECT_ID%}"
{%PROJECT_ID_UPPER%}_NAME="{%PROJECT_NAME%}"
{%PROJECT_ID_UPPER%}_HOST="http://localhost:8000"
{%PROJECT_ID_UPPER%}_ADMIN_EMAIL="contact@alexlaird.com"
{%PROJECT_ID_UPPER%}_CONTACT_EMAIL="contact@alexlaird.com"
{%PROJECT_ID_UPPER%}_SECRET_KEY="@0_=*sxt%hw8dxgxgqja6x=$!z4zhd7w^*23&=c29=4ixb2p--"
{%PROJECT_ID_UPPER%}_CSRF_MIDDLEWARE_SECRET="=mg^zm20o6js^ihl!*yg#jov(r_vji^h4q-nd6+8_idu43exau"
{%PROJECT_ID_UPPER%}_CSRF_COOKIE_SECURE="False"
{%PROJECT_ID_UPPER%}_SESSION_COOKIE_SECURE="False"
{%PROJECT_ID_UPPER%}_ALLOWED_HOSTS="localhost 127.0.0.1"
{%PROJECT_ID_UPPER%}_REDIS_HOST="redis://127.0.0.1:6379/1"
{%PROJECT_ID_UPPER%}_DB_NAME="{%PROJECT_ID%}_local"
{%PROJECT_ID_UPPER%}_DB_HOST="127.0.0.1"
{%PROJECT_ID_UPPER%}_DB_USER="root"
{%PROJECT_ID_UPPER%}_DB_PASSWORD=""
{%PROJECT_ID_UPPER%}_EMAIL_HOST="email-smtp.us-east-1.amazonaws.com"
{%PROJECT_ID_UPPER%}_EMAIL_PORT="587"
{%PROJECT_ID_UPPER%}_EMAIL_HOST_USER="<SMTP_USERNAME>"
{%PROJECT_ID_UPPER%}_EMAIL_HOST_PASSWORD="<SMTP_PASSWORD>"
{%PROJECT_ID_UPPER%}_DEBUG="True"
{%PROJECT_ID_UPPER%}_TWILIO_ACCOUNT_SID="<TWILIO_ACCOUNT_SID>"
{%PROJECT_ID_UPPER%}_TWILIO_AUTH_TOKEN="<TWILIO_AUTH_TOKEN>"
{%PROJECT_ID_UPPER%}_TWILIO_SMS_FROM="+5555555555"
{%PROJECT_ID_UPPER%}_TWILIO_API_KEY="<TWILIO_API_KEY>"
{%PROJECT_ID_UPPER%}_TWILIO_API_SECRET="<TWILIO_API_SECRET>"