django==4.2.20
djangorestframework==3.17.0
django-pipeline==4.1.0
django-dotenv==1.4.2
django-redis==6.0.0
mysqlclient==2.2.7
pytz==2026.1.post1
python-dateutil==2.9.0.post0
schedule==1.2.2
-e git+https://github.com/alexdlaird/django-health-check.git@4.0.2#egg=django-health-check
