django==5.0.2
djangorestframework==3.14.0
django-pipeline==3.0.0
django-dotenv==1.4.2
django-redis==5.4.0
coreapi==2.3.3
mysqlclient==2.2.4
pytz==2024.1
python-dateutil==2.8.2
schedule==1.2.1
-e git+https://github.com/alexdlaird/django-health-check.git@alaird-4.0.1#egg=django-health-check
