django==4.2.10
djangorestframework==3.15.1
django-pipeline==3.1.0
django-dotenv==1.4.2
django-redis==5.4.0
drf-spectacular==0.27.2
mysqlclient==2.2.4
pytz==2024.1
python-dateutil==2.9.0.post0
schedule==1.2.2
-e git+https://github.com/alexdlaird/django-health-check.git@4.0.2#egg=django-health-check
